body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.colorBg_brown {
    background: rgb(84, 41, 19);
}

.color_green {
    color: green;
}

.color_white {
    color:white;
}

.pa_1em {
    padding: 1em;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-around;
    margin: auto;
}

.upLeft {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	
}

.upRight {
    display: flex;
	flex-direction: row;
	justify-content: center;
	
}

.upRight:hover input {
    width: 300px;
}

.upRight input {
    width: 100px;
    transition: 0.5s;
}

input {
    border-radius: 20px;
    padding: 1em;
}


.mainPage {
    margin: 50px;
}

.menu img:hover {
    opacity: 0.5;
}

.mainPage h1 {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2.5em;
}

.menu {
    padding: 16px;
    display: flex;
	flex-direction: column;
    flex-basis: 350px;
    flex-shrink: 1;
    gap: 16px;
    box-shadow:
     0px 1px 3.6px rgba(0, 0, 0, 0.044),
     0px 2.8px 10px rgba(0, 0, 0, 0.067),
     0px 6.6px 24.1px rgba(0, 0, 0, 0.102),
     0px 22px 80px rgba(0, 0, 0, 0.23);
    
}


.containerImg {
    position: relative;
}

.hoverImg {
 position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #070808;
}

.containerImg img {
    width: 350px;
    display: block; 
}

.containerImg:hover .hoverImg {
    opacity: 0.5;
}

.hoverImg i {
    color: rgb(255, 255, 255);
    max-height: 100px;
}

.difficultStar {
    color: rgb(35, 109, 13);
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.difficult {
    display: flex;
    gap: 10px;
}

.EnSavoir{
    text-align: end;
}

.menuList {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
    max-width: 1200px;
    margin: auto;
    row-gap:16px ;
}

.footerFlex {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-evenly;
}


.imgFooter {
    min-height: 250px;
    background-image: url("../images/cooking.svg") ;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    
}

.logoMedia {
    height: 1.5em;
    display: flex;
    justify-content: space-between;
}

.logoMedia a {
    font-size: 1em;
}

.navigationFooter a {
    font-size: 1em;
}

.navigationFooter li {
    text-decoration-line: underline;
}
.socialMedia p {
    font-weight: bold;
    font-size: 1.5em;
}

.newsLetter {
    max-width: 400px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
}

.newsAbonne {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

@media screen and (max-width:1366px) {
    .mainPage h1 {
    font-size: 2em;
    }
}

@media screen and (max-width:360px) {
    .mainPage h1 {
    font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
    .footerFlex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

}

.main-register img {
    max-width: 300px;
    border-radius: 20px;
}

.main-register {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
    gap: 5em;
    padding: 1em;
    
}

.form-register {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: stretch;
    gap: 1em;
}

.listForm {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    gap: 1em ;
}

.listForm input {
    width: 300px;
}

.buttonRegister button {
    border-radius: 5px;
    padding: 6px;
    color: white;
    background-color: green;
}
